.git
.gitignore
.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.coverage
htmlcov
app.db
tests
.env
.env.*
!.env.example
.github
.gitlab-ci.yml
docs
scripts
infra
**/.terraform
**/*.tfstate*
**/*.tfvars*
**/*.tfplan
