POSTGRES_DB=hangy
POSTGRES_USER=hangy
POSTGRES_PASSWORD=hangy
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://hangy:hangy@db:5432/hangy # muda db pra localhost se tiver rodando local
JWT_SECRET_KEY=replace_with_a_random_secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
CORS_ORIGINS=http://localhost:8081
